.char {
    --area: #ed8c32;
    --temp: #f2c94c;
    --temp_max: #cb4900;
    --temp_min: #56ccf2;
    --nvdi: #47a67a;
}
.from {
    stop-color: #ed8c32;
}
.to {
    stop-color: #fa851a;
    stop-opacity: 0.33;
}
